.file-picker{
	position: fixed;
	bottom: 15px;
	right: 5px;
	width: 180px;
}

.search-panel{
	position: fixed;
	bottom: 15px;
	left: 25px;
}

.answer-panel{
	position: fixed;
	top: 12%;
	right: 30px;
	height: 75%;
	width: 12%;
}

.run-btn{
	position: fixed;
	bottom: 13%;
	right: 30px;
	width: 12%;
}

.step-back-btn{
	position: fixed;
	top: 5%;
	right: 9%;
	width: 6%;	
}

.step-next-btn{
	position: fixed;
	top: 5%;
	right: 2%;
	width: 6%;	
}